
API_DOMAIN="http://localhost:10600/"
WEB_DOMAIN="http://localhost:9900/"
SECRET_KEY="BSTBSTBSTBSTBSTB"
MYSQL_HOST="localhost"
MYSQL_USER="root"
MYSQL_PASSWORD="rootpass123"
MYSQL_DATABASE="membership"
PORT="10600"